.categories-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.categories-grid img {
    height: 100%;
    width: 100%;
    user-select: none;
}

.categories-grid__item {
    position: relative;
}

.categoires-grid__text {
    position: absolute;
    left: 24px;
    bottom: 24px;
}

.categories-grid__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 8px;
}

.categories-grid__link {
    font-weight: 500;
    font-size: 14px;
}

.categories-grid__item:first-child > .categoires-grid__text {
    top: 24px;
}

.offers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.offers-grid__item {
    background-color: var(--white-dark-color);
    padding: 24px 16px;
}

.offers-grid__item > img {
    margin-bottom: 16px;
}

.offers-grid__item > h3,
.offers-grid__item > p {
    font-size: 14px;
    line-height: 1.57143;
}

.offers-grid__item > h3 {
    font-weight: 600;
    font-family: var(--second-family);
}

.offers-grid__item > p {
    width: 90%;
    color: var(--gray-color);
    font-weight: 400;
}

.sales {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 0;
}

.sales > img {
    height: 100%;
    width: 100%;
}

.sales__right {
    padding: 48px 32px;
    background-color: var(--white-dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.sales__sale {
    color: var(--blue-color);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.sales__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 34px;
}

.sales__right > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
}

.sales__right > a {
    width: fit-content;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
}

@media screen and (min-width: 768px) {
    .categories-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 24px;
    }

    .categories-grid > div:first-child {
        grid-row: 1 / 3;
    }

    .categories-grid__title {
        font-size: 34px
    }

    .categories-grid__link {
        font-size: 16px;
        line-height: 1.75;
    }

    .offers-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }

    .offers-grid__item > h3 {
        font-weight: 500;
        font-size: 20px;
    }

    .sales {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .sales__right {
        padding-inline: 72px;
    }

    .sales__title,
    .sales__right > p {
        max-width: 354px;
    }

    .sales__title {
        font-size: 40px;
    }

    .sales__right > p {
        font-size: 20px;
        line-height: 1.6;
    }
    
    .sales__right > a {
        font-size: 16px;
    }
}