@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');
@import url("assets/styles/reset.css");
@import url("assets/styles/auth_form.css");

:root {
    --blue-color: #377dff;
	--green-color: #38cb89;
	--yellow-color: #ffab00;
	--red-color: #ff5630;
	--brand-color: #000;
    --white-color: #FCFCFD;
    --white-dark-color: #F3F5F7;
    --gray-dark-color: #141718;
    --gray-color: #6C7275;
    --gray-light-color: #E8ECEF;   

    --font-family: "Inter", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Space Grotesk", sans-serif;
}

* {
    box-sizing: border-box;
    color: var(--gray-dark-color);
}

body {
    font-family: var(--font-family);
    overflow-x: hidden;
}

.content {
    margin-inline: auto;
    max-width: 1200px;
    padding-inline: 32px;
}

section {
    padding-bottom: 32px;
}

.arrow-link {
    border-bottom: 1px solid var(--gray-dark-color);
    padding-bottom: 2px;
    padding-right: 18px;
    background: url('assets/icons/arrow_right.svg') center right no-repeat;
    background-size: 16px 16px;
}